* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 3000px;
  /* background-color: darkseagreen; */

  article {
    width: 400px;
  }

  .text {
    height: 400px;
    width: 300px;
    display: flex;

    h2 {
      border: 1px solid red;
    }

    h2 {
      position: sticky;
      top: 10px;
      /* bottom: 40px; */
    }
  }

  /* .fix {
    width: 50%;
    background-color: azure;
    height: 50px;
    position: fixed;
  } */

  section {
    height: 400px;
    background-color: beige;
  }
}

.parent {
  background-color: blue;
  height: 400px;
  position: relative;
}
.sticky {
  width: 100%;
  height: 60px;
  background-color: rgb(130, 128, 110);
  position: sticky;
  bottom: 20px;
  top: 0;
  z-index: 2;
}
